@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <h1>Start/Index</h1>
        <p><a href="https://localhost:7261/Start/One">One</a></p>
        <p><a href="https://localhost:7261/Start/Two">Two</a></p>
        <p><a href="https://localhost:7261/Start/Three">Three</a></p>
    </body>
</html>
